{% load i18n %}
{% load static %}

<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <H6 style="font-size: 40px; color: white;">Mango</H6>
                            </a>
                        </div>
                        <p>{% trans 'Nairobi, Kenya'%} <br> {% trans 'Africa'%} <br>
                            <a href="#">{% trans '+254 700 279 351'%}</a> <br>
                            <a href="#">{% trans 'placeholder@travel.com'%}</a>
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% trans 'Company'%}
                        </h3>
                        <ul class="links">
                            <li><a href="#">{% trans 'Pricing'%}</a></li>
                            <li><a href="#">{% trans 'About'%}</a></li>
                            <li><a href="#"> {% trans 'Gallery'%}</a></li>
                            <li><a href="#"> {% trans 'Contact'%}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% trans 'Popular destinations'%}
                        </h3>
                        <ul class="links double_links">
                            {% for travel in travels%}
                            <li><a href="#">{{travel.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                           {% trans ' Instagram'%}
                        </h3>
                        <div class="instagram_feed">
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/1.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/2.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/3.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/4.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/5.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/6.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
{% trans 'Copyright'%} &copy;<script>document.write(new Date().getFullYear());</script> {% trans 'All rights reserved | Built by EM'%}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>