{% extends 'base.html' %}

{% block content %}
<div class="whole-wrap">
<div class="container box_1170">
    {% for booking in bookings %}
    <div class="card mb-3">
        
        <div class="row g-0">
            
          <div class="col-md-4">
            <img src="{{booking.travel.image.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Jambo, {{ booking.client_name }}👋</h5>
              <p class="card-text">You have a tour booked to {{ booking.travel.name }} on {{ booking.start_date }}</p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
       
        </div>
        
      </div>

      {% endfor %}


   

{% endblock %}

{% block rest %}
{% endblock %}