{% load i18n %}
{% load static %}
  <header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'base' %}">
                                    <H6 style="font-size: 40px;">Mango</H6>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'base' %}">{% trans 'Home' %}</a></li>
                                        <!-- <li><a href="{% url 'bookings' %}">My Bookings</a></li> -->
                                        <li><a class="" href="{% url 'destinations' %}">{% trans 'Destinations' %}</a></l/li>
                                        <li><a href="#">{% trans 'Language' %} <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                {% get_current_language as LANGUAGE_CODE %}
                                                {% get_available_languages as LANGUAGES %} 
                                                {% get_language_info_list for LANGUAGES as languages %}
                                            
                                                {% for lang in languages %}
                                                <li><a href="/{{ lang.code }}/">{{ lang.name_local }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                            <div class="social_wrap d-flex align-items-center justify-content-end">
                                <div class="number">
                                    <p> <i class="fa fa-phone"></i> {% trans '+(254)-700 279351' %}</p>
                                </div>
                                <div class="social_links d-none d-xl-block">
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="seach_icon">
                            <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                                <!-- <i class="fa fa-search"></i> -->
                            </a>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->



